.product-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 4rem;
} 

.shopping-cart-home{
    position: fixed;
    right: 3rem;
    bottom: 4rem;
    height: 4rem;
    width: 4rem;
    background-color: lightseagreen;
    /* color: azure; */
    border: none;
    outline: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart-home span{
    font-size: 2rem;
    color:ghostwhite;
}